Nombre=Nivel5
//CAJA = "nombre", "simbolo", "cantidad", "posX", "posY"
Caja1=Monedas,M,1,2,2
Caja3=Flores,F,2,40,8
Caja2=Hongos,H,2,17,10
Caja4=Estrellas,E,1,20,5
Orquestador=127.0.0.1:5111
TiempoChequeoDeadlock=3
Recovery=1
logPath=/home/utnso/Escritorio/Niveles/nivel5.log
miDireccion=127.0.0.1:5123
